<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.hikerpig.lark-space</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0A9B92E0-34CB-405A-925C-394F82A836B9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>43F98D0B-8F4C-4C52-96EA-49C957D85827</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>43F98D0B-8F4C-4C52-96EA-49C957D85827</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8ED4D66B-C44A-4BEF-BEEA-6BE4D27EF9C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5507E16C-9B3E-4A4E-9E8C-74029BDD3EDA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A9B92E0-34CB-405A-925C-394F82A836B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7A8E4C12-6E2B-400D-8D2D-1BD347F034FB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ACF96262-2D22-4BB7-AD98-45CEAFC29D48</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FCE03E9D-F992-4B21-9A77-E72D5130DF80</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C666857E-931A-4FEA-A527-32967582967D</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>copy url to clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AB558EA7-DF9A-4CE9-9B4D-FB040C71F6B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE9B819E-080C-4430-A879-07CDB8C7F718</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C666857E-931A-4FEA-A527-32967582967D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5578E30C-3EFE-4AA2-BF16-C060ED6BBBA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FE9B819E-080C-4430-A879-07CDB8C7F718</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7A8E4C12-6E2B-400D-8D2D-1BD347F034FB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>hikerpig</string>
	<key>description</key>
	<string>Manage Lark space, search and create docs</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Lark Space</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>lk</string>
				<key>queuedelaycustom</key>
				<integer>2</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>PYTHONIOENCODING=UTF-8 $pythonPath lark-search.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>lark-search.py</string>
				<key>subtext</key>
				<string>search docs/sheets/mindnotes etc</string>
				<key>title</key>
				<string>Lark Space Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FCE03E9D-F992-4B21-9A77-E72D5130DF80</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C666857E-931A-4FEA-A527-32967582967D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Url copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5578E30C-3EFE-4AA2-BF16-C060ED6BBBA6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>doc_type=$1

PYTHONIOENCODING=UTF-8 $pythonPath lark-create.py $doc_type</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FE9B819E-080C-4430-A879-07CDB8C7F718</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>ACF96262-2D22-4BB7-AD98-45CEAFC29D48</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>lkc</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>$pythonPath lark-list-doc-types.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Choose a file type you want to create</string>
				<key>title</key>
				<string>Create Lark Doc</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AB558EA7-DF9A-4CE9-9B4D-FB040C71F6B7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7A8E4C12-6E2B-400D-8D2D-1BD347F034FB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>F</string>
				<key>keycode</key>
				<integer>70</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>8ED4D66B-C44A-4BEF-BEEA-6BE4D27EF9C6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Lark.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>0A9B92E0-34CB-405A-925C-394F82A836B9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>lko</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Call Lark Client Search</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5507E16C-9B3E-4A4E-9E8C-74029BDD3EDA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.5</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>43F98D0B-8F4C-4C52-96EA-49C957D85827</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>lark-space-alfred-workflow

An Alfred workflow to search Lark Space with instant results

Based on notion-search-alfred-workflow, thanks.

Simply type your keyword into Alfred (default: lk) to see instant search results from Lark Docs. Selecting a search result takes you to that page in Lark Docs in your default web browser.</string>
	<key>uidata</key>
	<dict>
		<key>0A9B92E0-34CB-405A-925C-394F82A836B9</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>535</integer>
		</dict>
		<key>43F98D0B-8F4C-4C52-96EA-49C957D85827</key>
		<dict>
			<key>xpos</key>
			<integer>535</integer>
			<key>ypos</key>
			<integer>565</integer>
		</dict>
		<key>5507E16C-9B3E-4A4E-9E8C-74029BDD3EDA</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>535</integer>
		</dict>
		<key>5578E30C-3EFE-4AA2-BF16-C060ED6BBBA6</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
		<key>7A8E4C12-6E2B-400D-8D2D-1BD347F034FB</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>405</integer>
		</dict>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<dict>
			<key>xpos</key>
			<integer>85</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>8ED4D66B-C44A-4BEF-BEEA-6BE4D27EF9C6</key>
		<dict>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>535</integer>
		</dict>
		<key>AB558EA7-DF9A-4CE9-9B4D-FB040C71F6B7</key>
		<dict>
			<key>xpos</key>
			<integer>75</integer>
			<key>ypos</key>
			<integer>375</integer>
		</dict>
		<key>ACF96262-2D22-4BB7-AD98-45CEAFC29D48</key>
		<dict>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>375</integer>
		</dict>
		<key>C666857E-931A-4FEA-A527-32967582967D</key>
		<dict>
			<key>xpos</key>
			<integer>355</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
		<key>FCE03E9D-F992-4B21-9A77-E72D5130DF80</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>FE9B819E-080C-4430-A879-07CDB8C7F718</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>375</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>larkDomain</key>
		<string></string>
		<key>pythonPath</key>
		<string></string>
		<key>session</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>pythonPath</string>
		<string>larkDomain</string>
		<string>session</string>
	</array>
	<key>version</key>
	<string>0.4.2</string>
	<key>webaddress</key>
	<string>https://github.com/hikerpig/lark-space-alfred-workflow/</string>
</dict>
</plist>
